In [1]:
%cd grade_prediction/
%pwd

/home/yuhao/grade_prediction

'/home/yuhao/grade_prediction'

In [2]:
import numpy as np
import pandas as pd
from pandas.api.types import is_numeric_dtype

In [3]:
data_df = pd.read_csv('./sample_data/student-grade/student_grade.csv')
data_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,D
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,D
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,C
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,A
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,C
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,A
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,D
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,C
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,C

In [8]:
data_df['G3'].describe()

count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64

In [14]:
def grade_category(num):
    if num < 8:
        return 'D'
    elif num in range(8, 11):
        return 'C'
    elif num in range(11, 14):
        return 'B'
    elif num >= 14:
        return 'A'

data_df['G3'] = data_df['G3'].apply(grade_category)

In [142]:
data_df.to_csv('./sample_data/student-grade/student_grade.csv', index=False)
data_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,D
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,D
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,C
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,A
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,C
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,A
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,D
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,C
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,C

In [16]:
name = data_df.columns
feature_type = ['numerical' if is_numeric_dtype(data_df[i]) else 'categorical' for i in data_df.columns]
feature_min = [np.nan if feature_type[i] == 'categorical' else data_df[col].min() for i, col in enumerate(data_df.columns)]
category = [np.nan if feature_type[i] == 'numerical' else ':'.join(data_df[col].unique()) for i, col in enumerate(data_df.columns)]

In [17]:
description = {
  'name': name,
  'type': feature_type,
  'min': feature_min,
  'category': category
}

description = pd.DataFrame(description)
description.to_csv('./sample_data/student-grade/description.csv', index=False)
description

          name         type   min                               category
0       school  categorical   NaN                                  GP:MS
1          sex  categorical   NaN                                    F:M
2          age    numerical  15.0                                    NaN
3      address  categorical   NaN                                    U:R
4      famsize  categorical   NaN                                GT3:LE3
5      Pstatus  categorical   NaN                                    A:T
6         Medu    numerical   0.0                                    NaN
7         Fedu    numerical   0.0                                    NaN
8         Mjob  categorical   NaN  at_home:health:other:services:teacher
9         Fjob  categorical   NaN  teacher:other:services:health:at_home
10      reason  categorical   NaN           course:other:home:reputation
11    guardian  categorical   NaN                    mother:father:other
12  traveltime    numerical   1.0                                    NaN
13   studytime    numerical   1.0                                    NaN
14    failures    numerical   0.0                                    NaN
15   schoolsup  categorical   NaN                                 yes:no
16      famsup  categorical   NaN                                 no:yes
17        paid  categorical   NaN                                 no:yes
18  activities  categorical   NaN                                 no:yes
19     nursery  categorical   NaN                                 yes:no
20      higher  categorical   NaN                                 yes:no
21    internet  categorical   NaN                                 no:yes
22    romantic  categorical   NaN                                 no:yes
23      famrel    numerical   1.0                                    NaN
24    freetime    numerical   1.0                                    NaN
25       goout    numerical   1.0                                    NaN
26        Dalc    numerical   1.0                                    NaN
27        Walc    numerical   1.0                                    NaN
28      health    numerical   1.0                                    NaN
29    absences    numerical   0.0                                    NaN
30          G1    numerical   3.0                                    NaN
31          G2    numerical   0.0                                    NaN
32          G3  categorical   NaN                                D:C:A:B

In [42]:
from cf_ml.dataset import load_student_grade_dataset

dataset = load_student_grade_dataset()

In [43]:
dataset._data

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,D
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,D
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,C
3,3,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,A
4,4,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20,U,LE3,A,2,2,services,...,5,5,4,4,5,4,11,9,9,C
391,391,MS,M,17,U,LE3,T,3,1,services,...,2,4,5,3,4,2,3,14,16,A
392,392,MS,M,21,R,GT3,T,1,1,other,...,5,5,3,3,3,3,3,10,8,D
393,393,MS,M,18,R,LE3,T,3,2,services,...,4,4,1,3,4,5,0,11,12,C
394,394,MS,M,19,U,LE3,T,1,1,other,...,3,2,3,3,3,5,5,8,9,C

# Train a model
train a model manually

In [108]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset
import torch.optim as optim

## Model

### Regression Model

In [123]:
class MLP_reg(nn.Module):

    def __init__(self, feature_num, dropout=0.5):
        super(MLP_reg, self).__init__()
        self.layer = nn.Sequential(
            nn.Linear(feature_num, 60),
            nn.LeakyReLU(0.02),
            nn.Dropout(dropout),

            nn.Linear(60, 30),
            nn.LeakyReLU(0.02),
            nn.Dropout(dropout),

            nn.Linear(30, 1)
        )


    def forward(self, x):
        return self.layer(x)


model = MLP_reg(len(dataset.dummy_features))

### Classification Model

In [137]:
class MLP_class(nn.Module):
    
    def __init__(self, feature_num, class_num, dropout=0.5):
        super(MLP_class, self).__init__()
        self.layer = nn.Sequential(
            nn.Linear(feature_num, 60),
            nn.LeakyReLU(0.02),
            nn.Dropout(dropout),

            nn.Linear(60, 30),
            nn.LeakyReLU(0.02),
            nn.Dropout(dropout),

            nn.Linear(30, class_num),
            nn.Sigmoid()
        )

    def forward(self, x):
        return self.layer(x)

model = MLP_class(len(dataset.dummy_features), len(dataset.dummy_target))

## Prepare Dataset

In [131]:
train_X = torch.from_numpy(
    dataset.get_train_X().values).float()
train_y = torch.from_numpy(
    dataset.get_train_y().values).float()
test_X = torch.from_numpy(
    dataset.get_test_X().values).float()
test_y = torch.from_numpy(
    dataset.get_test_y().values).float()

train_dataset = TensorDataset(train_X, train_y)
test_dataset = TensorDataset(test_X, test_y)

## Training

In [138]:
epoch = 100
lr = 0.001
batch_size = 16

optimiser = optim.Adam(model.parameters(), lr=lr)
criterion = nn.BCELoss()

In [139]:
def evaluate():
    model.eval()
    data_loader = DataLoader(dataset=test_dataset, batch_size=batch_size, shuffle=True)

    pred_class = np.array([])
    target_class = np.array([])

    for x, target in data_loader:
        pred = model(x)
        pred = pred.argmax(axis=1).numpy()
        target = target.argmax(axis=1).numpy()
        target_class = np.concatenate((target_class, target))
        pred_class = np.concatenate((pred_class, pred))

    return (target_class == pred_class).mean()

In [140]:
def train():
    data_loader = DataLoader(dataset=train_dataset, batch_size=batch_size, shuffle=True)
    
    for e in range(epoch):
        model.train()

        for x, target in data_loader:
            optimiser.zero_grad()

            pred = model(x)
            err = criterion(pred, target)
            err.backward()
            optimiser.step()
        
        print("Epoch: {}, loss={:.3f}, test accuracy={:.3f}".format(e, err, evaluate()))

In [141]:
train()

Epoch: 0, loss=0.656, test accuracy=0.190
Epoch: 1, loss=0.591, test accuracy=0.190
Epoch: 2, loss=0.611, test accuracy=0.190
Epoch: 3, loss=0.569, test accuracy=0.177
Epoch: 4, loss=0.569, test accuracy=0.215
Epoch: 5, loss=0.553, test accuracy=0.228
Epoch: 6, loss=0.546, test accuracy=0.215
Epoch: 7, loss=0.536, test accuracy=0.316
Epoch: 8, loss=0.602, test accuracy=0.266
Epoch: 9, loss=0.528, test accuracy=0.253
Epoch: 10, loss=0.537, test accuracy=0.228
Epoch: 11, loss=0.512, test accuracy=0.316
Epoch: 12, loss=0.569, test accuracy=0.380
Epoch: 13, loss=0.497, test accuracy=0.392
Epoch: 14, loss=0.574, test accuracy=0.367
Epoch: 15, loss=0.489, test accuracy=0.380
Epoch: 16, loss=0.545, test accuracy=0.367
Epoch: 17, loss=0.559, test accuracy=0.380
Epoch: 18, loss=0.475, test accuracy=0.430
Epoch: 19, loss=0.486, test accuracy=0.405
Epoch: 20, loss=0.540, test accuracy=0.456
Epoch: 21, loss=0.409, test accuracy=0.468
Epoch: 22, loss=0.397, test accuracy=0.418
Epoch: 23, loss=0.464, test accuracy=0.468
Epoch: 24, loss=0.380, test accuracy=0.468
Epoch: 25, loss=0.455, test accuracy=0.519
Epoch: 26, loss=0.460, test accuracy=0.506
Epoch: 27, loss=0.430, test accuracy=0.544
Epoch: 28, loss=0.486, test accuracy=0.570
Epoch: 29, loss=0.432, test accuracy=0.544
Epoch: 30, loss=0.421, test accuracy=0.570
Epoch: 31, loss=0.436, test accuracy=0.557
Epoch: 32, loss=0.455, test accuracy=0.582
Epoch: 33, loss=0.368, test accuracy=0.582
Epoch: 34, loss=0.540, test accuracy=0.532
Epoch: 35, loss=0.414, test accuracy=0.582
Epoch: 36, loss=0.292, test accuracy=0.570
Epoch: 37, loss=0.377, test accuracy=0.532
Epoch: 38, loss=0.399, test accuracy=0.557
Epoch: 39, loss=0.517, test accuracy=0.544
Epoch: 40, loss=0.486, test accuracy=0.570
Epoch: 41, loss=0.231, test accuracy=0.506
Epoch: 42, loss=0.405, test accuracy=0.570
Epoch: 43, loss=0.397, test accuracy=0.570
Epoch: 44, loss=0.316, test accuracy=0.595
Epoch: 45, loss=0.255, test accuracy=0.582
Epoch: 46, loss=0.337, test accuracy=0.570
Epoch: 47, loss=0.352, test accuracy=0.582
Epoch: 48, loss=0.340, test accuracy=0.544
Epoch: 49, loss=0.360, test accuracy=0.557
Epoch: 50, loss=0.309, test accuracy=0.557
Epoch: 51, loss=0.428, test accuracy=0.557
Epoch: 52, loss=0.310, test accuracy=0.570
Epoch: 53, loss=0.368, test accuracy=0.595
Epoch: 54, loss=0.280, test accuracy=0.595
Epoch: 55, loss=0.512, test accuracy=0.570
Epoch: 56, loss=0.249, test accuracy=0.582
Epoch: 57, loss=0.274, test accuracy=0.595
Epoch: 58, loss=0.230, test accuracy=0.595
Epoch: 59, loss=0.267, test accuracy=0.595
Epoch: 60, loss=0.278, test accuracy=0.620
Epoch: 61, loss=0.369, test accuracy=0.608
Epoch: 62, loss=0.275, test accuracy=0.608
Epoch: 63, loss=0.376, test accuracy=0.595
Epoch: 64, loss=0.286, test accuracy=0.608
Epoch: 65, loss=0.283, test accuracy=0.608
Epoch: 66, loss=0.256, test accuracy=0.608
Epoch: 67, loss=0.303, test accuracy=0.608
Epoch: 68, loss=0.361, test accuracy=0.620
Epoch: 69, loss=0.370, test accuracy=0.620
Epoch: 70, loss=0.285, test accuracy=0.633
Epoch: 71, loss=0.279, test accuracy=0.633
Epoch: 72, loss=0.270, test accuracy=0.620
Epoch: 73, loss=0.255, test accuracy=0.608
Epoch: 74, loss=0.244, test accuracy=0.620
Epoch: 75, loss=0.273, test accuracy=0.620
Epoch: 76, loss=0.197, test accuracy=0.608
Epoch: 77, loss=0.254, test accuracy=0.608
Epoch: 78, loss=0.278, test accuracy=0.608
Epoch: 79, loss=0.266, test accuracy=0.620
Epoch: 80, loss=0.229, test accuracy=0.608
Epoch: 81, loss=0.289, test accuracy=0.620
Epoch: 82, loss=0.374, test accuracy=0.633
Epoch: 83, loss=0.284, test accuracy=0.620
Epoch: 84, loss=0.231, test accuracy=0.633
Epoch: 85, loss=0.181, test accuracy=0.620
Epoch: 86, loss=0.291, test accuracy=0.608
Epoch: 87, loss=0.215, test accuracy=0.608
Epoch: 88, loss=0.268, test accuracy=0.620
Epoch: 89, loss=0.209, test accuracy=0.620
Epoch: 90, loss=0.347, test accuracy=0.595
Epoch: 91, loss=0.191, test accuracy=0.608
Epoch: 92, loss=0.328, test accuracy=0.633
Epoch: 93, loss=0.277, test accuracy=0.620
Epoch: 94, loss=0.239, test accuracy=0.646
Epoch: 95, loss=0.167, test accuracy=0.633
Epoch: 96, loss=0.299, test accuracy=0.620
Epoch: 97, loss=0.282, test accuracy=0.620
Epoch: 98, loss=0.266, test accuracy=0.633
Epoch: 99, loss=0.197, test accuracy=0.633

# Migrate to Model Manager

In [3]:
from cf_ml.dataset import load_student_grade_dataset
from cf_ml.model import PytorchModelManager

dataset = load_student_grade_dataset()
model_manager = PytorchModelManager(dataset)

model_manager.train(epoch=80)

Epoch: 0, train_loss=18.419, test_loss=26.612
Epoch: 1, train_loss=45.121, test_loss=49.155
Epoch: 2, train_loss=14.726, test_loss=21.969
Epoch: 3, train_loss=14.537, test_loss=23.146
Epoch: 4, train_loss=15.493, test_loss=21.652
Epoch: 5, train_loss=19.555, test_loss=28.964
Epoch: 6, train_loss=22.636, test_loss=28.188
Epoch: 7, train_loss=10.714, test_loss=17.606
Epoch: 8, train_loss=41.490, test_loss=46.685
Epoch: 9, train_loss=11.065, test_loss=17.108
Epoch: 10, train_loss=9.756, test_loss=15.677
Epoch: 11, train_loss=22.439, test_loss=33.136
Epoch: 12, train_loss=10.782, test_loss=18.720
Epoch: 13, train_loss=8.229, test_loss=14.360
Epoch: 14, train_loss=8.323, test_loss=13.735
Epoch: 15, train_loss=8.966, test_loss=14.905
Epoch: 16, train_loss=11.216, test_loss=15.656
Epoch: 17, train_loss=7.776, test_loss=13.513
Epoch: 18, train_loss=7.329, test_loss=12.927
Epoch: 19, train_loss=7.321, test_loss=13.618
Epoch: 20, train_loss=6.696, test_loss=12.485
Epoch: 21, train_loss=10.405, test_loss=14.652
Epoch: 22, train_loss=7.659, test_loss=12.213
Epoch: 23, train_loss=14.772, test_loss=18.703
Epoch: 24, train_loss=6.089, test_loss=11.251
Epoch: 25, train_loss=6.145, test_loss=11.173
Epoch: 26, train_loss=17.388, test_loss=21.874
Epoch: 27, train_loss=5.953, test_loss=10.817
Epoch: 28, train_loss=7.062, test_loss=12.863
Epoch: 29, train_loss=5.920, test_loss=10.808
Epoch: 30, train_loss=5.186, test_loss=9.906
Epoch: 31, train_loss=6.292, test_loss=11.430
Epoch: 32, train_loss=8.503, test_loss=13.531
Epoch: 33, train_loss=6.484, test_loss=11.510
Epoch: 34, train_loss=9.118, test_loss=13.188
Epoch: 35, train_loss=5.720, test_loss=11.308
Epoch: 36, train_loss=6.325, test_loss=10.344
Epoch: 37, train_loss=5.564, test_loss=9.056
Epoch: 38, train_loss=7.065, test_loss=11.783
Epoch: 39, train_loss=6.786, test_loss=11.264
Epoch: 40, train_loss=7.560, test_loss=11.765
Epoch: 41, train_loss=5.138, test_loss=10.395
Epoch: 42, train_loss=4.512, test_loss=9.523
Epoch: 43, train_loss=4.761, test_loss=9.527
Epoch: 44, train_loss=5.066, test_loss=9.353
Epoch: 45, train_loss=11.543, test_loss=15.844
Epoch: 46, train_loss=5.548, test_loss=10.613
Epoch: 47, train_loss=4.087, test_loss=9.060
Epoch: 48, train_loss=10.627, test_loss=15.060
Epoch: 49, train_loss=5.571, test_loss=11.330
Epoch: 50, train_loss=5.526, test_loss=9.702
Epoch: 51, train_loss=4.706, test_loss=10.239
Epoch: 52, train_loss=3.984, test_loss=9.351
Epoch: 53, train_loss=4.015, test_loss=9.282
Epoch: 54, train_loss=4.277, test_loss=9.527
Epoch: 55, train_loss=4.202, test_loss=8.665
Epoch: 56, train_loss=4.044, test_loss=9.032
Epoch: 57, train_loss=3.765, test_loss=9.339
Epoch: 58, train_loss=3.411, test_loss=8.384
Epoch: 59, train_loss=3.868, test_loss=8.168
Epoch: 60, train_loss=3.885, test_loss=9.183
Epoch: 61, train_loss=3.549, test_loss=8.528
Epoch: 62, train_loss=3.430, test_loss=8.812
Epoch: 63, train_loss=3.185, test_loss=8.498
Epoch: 64, train_loss=3.084, test_loss=8.381
Epoch: 65, train_loss=2.886, test_loss=8.089
Epoch: 66, train_loss=2.902, test_loss=8.182
Epoch: 67, train_loss=3.055, test_loss=8.209
Epoch: 68, train_loss=4.137, test_loss=10.606
Epoch: 69, train_loss=3.179, test_loss=9.040
Epoch: 70, train_loss=8.506, test_loss=12.323
Epoch: 71, train_loss=2.768, test_loss=8.488
Epoch: 72, train_loss=3.893, test_loss=9.918
Epoch: 73, train_loss=6.658, test_loss=11.199
Epoch: 74, train_loss=2.585, test_loss=8.124
Epoch: 75, train_loss=2.919, test_loss=8.050
Epoch: 76, train_loss=2.178, test_loss=7.086
Epoch: 77, train_loss=2.288, test_loss=8.241
Epoch: 78, train_loss=2.465, test_loss=8.489
Epoch: 79, train_loss=2.106, test_loss=7.809